<nav>
    <ul>
        <img src="{{ url_for('static', filename='images/bubu.jpg') }}" alt='Anibulus'>
        <li>
            <!--
                url_for no se importa, ya es del sistema
            -->
            <a href="{{ url_for('index') }}">Ir a inicio</a>
        </li>
        <li>
            <a href="https://platzi.com" target="_blank">Ir a platzi</a>
        </li>
        {% if current_user.is.autenticated %}
        <li>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
        {% end if%}
    </ul>
</nav>